ul.list-banner-1 {
    list-style: none;
    padding: 0;
    margin: 1rem 0;

    li {
        display: grid;
        grid-template-columns: 38px 1fr;
        align-items: center;
        gap: 1rem;
        font-size: 20px;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        i {
            position: relative;
            width: 38px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .order-button {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 120px;
        text-align: center;
    }
}