@media screen and (max-width: 1024px) {
    .hidden-lg {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .hidden-md {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .hidden-sm {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .show-lg {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .show-md {
        display: none;
    }
}

@media screen and (min-width: 540px) {
    .show-sm {
        display: none;
    }
}