.grid-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.icon-item {
    display: inline-block;
    width: 36px;
    height: 36px;

    &.dev {
        border: 1px solid #efefef;
    }
}

.i-safe {
    background: url(../img/icons/safe.svg) center center no-repeat;
    background-size: contain;
}

.i-check {
    background: url(../img/icons/check.svg) center center no-repeat;
    background-size: contain;
}

.i-truck {
    background: url(../img/icons/truck.svg) center center no-repeat;
    background-size: contain;
}

.i-ten {
    background: url(../img/icons/ten.svg) center center no-repeat;
    background-size: contain;
}

.i-time {
    background: url(../img/icons/time.svg) center center no-repeat;
    background-size: contain;
}

.i-guard {
    background: url(../img/icons/guard.svg) center center no-repeat;
    background-size: contain;
}