.theme-table {
    > thead > tr > th {
        border-width: 0px 0px 1px 0px;
        background: #3091c5;
        border-color: #3091c5;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 1rem 0.5rem;
    }
    tr > td {
        border-width: 1px 0px;
        vertical-align: top;
        border-color: #e6eef2;
        color: #001c3d;
        padding: 1rem 0.5rem;
    }

    tbody > tr:nth-of-type(even) {
        background: #f8fafc;
    }
}