.white-text {
    color: #FFF !important;
}

h2.title-num {
    position: relative;
    text-align: left;
}

h2.title-num::before {
    content: attr(data-num);
    position: absolute;
    color: $titleColor;
    font-size: 200px;
    bottom: -75px;
    opacity: 0.05;
}

h3 {
    color: #002d64;
    font-size: 24px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.banner-home__title {
    text-align: left;
}
.banner-home__subtitle {
    text-align: left;
    color: $primary;
    font-size: 24px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 1rem;
}

.b-text {
    color: $darkBlue;
    font-size: 24px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

ul.no-styled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-style-1 {
    color: $darkBlue;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 0;
}

.title-2 {
    color: #3091c5;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 0;
}