.service-item {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-right: 1px solid $lightBlue;
    background: #FFF;
    &:last-child {
        border-right: none;
    }

    .service-item__image {
        max-height: 320px;
        overflow: hidden;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;    
        img {
            border-radius: 10px;
        }
    }
    .service-item__num {
        display: block;
        color: $primary;
        font-size: 20px;
        line-height: 31px;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    .service-item__text {
        height: 136px;
    }
    .service-item__name {
        text-decoration: none;
    }
}

@media screen and (max-width: 1024px) {
    .services {
        .right-border {
            border-bottom: 1px solid $lightBlue;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .service-item {
        display: grid;
        grid-template-areas:
            "image num"
            "image name"
            "image text"
            "image button";
        row-gap: 0px;
        column-gap: 1rem;

        .service-item__image {
            grid-area: image;
            max-height: 190px;
            overflow: hidden;
            border-radius: 20px;
        }

        .service-item__num {
            grid-area: num;
        }

        .service-item__name {
            grid-area: name;
        }

        .service-item__button {
            grid-area: button;
        }

        .service-item__text {
            grid-area: text;
            padding-bottom: 1rem;
            height: auto;
        }
    }
}

@media screen and (max-width: 560px) {
    .services {
        .right-border {
            border-bottom: 1px solid $lightBlue;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .service-item {
        display: grid;
        grid-template-areas: 
        "image"
        "num"
        "name"
        "text"
        "button";
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 1rem;

        .service-item__image {
            grid-area: image;
            max-height: auto;
            overflow: hidden;
            border-radius: 20px;
        }

        .service-item__num {
            grid-area: num;
        }

        .service-item__name {
            grid-area: name;
        }

        .service-item__button {
            grid-area: button;
        }

        .service-item__text {
            grid-area: text;
        }
    }
}