<section class="section about-home">
    <div class="container">
        <h2 style="text-align: left;">О Компании</h2>

        <div class="row">
            <div class="col-lg-6">

                <p>Производственная компания <b>«Эф-Кабинки»</b>
                занимается изготовлением физиотерапевтических кабин с 2012 года. 
                Мы работаем с <b>бюджетными и частными организациями по всей России:</b>
                больницами, поликлиниками, санаториями, домами отдыха и 
                оздоровительными центрами.</p>
                <p>Производим медицинские кабины нового поколения. 
                Они изготовлены в соответствии с нормативными документами, 
                <b>надежны, долговечны и красиво выглядят.</b> Именно наши конструкции часто используют 
                при составлении проектной документации.</p>
                <p>Мы разработали <b>семь типов кабин,</b> которые подходят под различные 
                задачи и бюджет. На этом не останавливаемся и постоянно работаем 
                над улучшением конструкций, чтобы они отвечали всем потребностям наших 
                заказчиков.</p>
                <a href="" class="button-site btn-lg">Подробнее</a>
            </div>
            <div class="col-lg-6">
                <div class="carousel about-carousel">
                    <div class="carousel__slide">
                        <a href="@img/about/1.png"><img src="@img/about/1.png" alt=""></a>
                    </div>
                    <div class="carousel__slide">
                        <a href="@img/about/2.png"><img src="@img/about/2.png" alt=""></a>
                    </div>
                    <div class="carousel__slide">
                        <a href="@img/about/3.png"><img src="@img/about/3.png" alt=""></a>
                    </div>
                    <div class="carousel__slide">
                        <a href="@img/about/4.png"><img src="@img/about/4.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>