<section class="section pr-home">
    <div class="container">
        <h2>ПРЕИМУЩЕСТВА</h2>
        <div class="pr-grid">
            <div class="pr-grid__item">
                <div class="pr-grid__img">
                    <img src="@img/tz_1.png" alt="">
                </div>
                <div class="pr-grid__name">
                    Работаем по всей России
                </div>
                <div class="pr-grid__text">
                    Находимся в Санкт-Петербурге и <b>работаем с организациями по всей России</b>. Доставим кабины и поможем организовать монтаж в вашем городе.
                </div>
            </div>
            <div class="pr-grid__item">
                <div class="pr-grid__img">
                    <img src="@img/tz_2.png" alt="">
                </div>
                <div class="pr-grid__name">
                    Собственная конструкция
                </div>
                <div class="pr-grid__text">
                    Мы разработали свою систему крепления ДСП-экранов к трубам. Такое <b>крепление надежно, долговечно и красиво.</b>
                </div>
            </div>
            <div class="pr-grid__item">
                <div class="pr-grid__img">
                    <img src="@img/tz_3.png" alt="">
                </div>
                <div class="pr-grid__name">
                    Разрешенные материалы
                </div>
                <div class="pr-grid__text">
                    Используем только разрешенные нормативами материалы и технологии их обработки. <b>Кабины полностью соответствуют требованиям российского законодательства.</b>
                </div>
            </div>
            <div class="pr-grid__item">
                <div class="pr-grid__img">
                    <img src="@img/tz_4.png" alt="">
                </div>
                <div class="pr-grid__name">
                    Необходимые документы
                </div>
                <div class="pr-grid__text">
                    Предоставим документы, подтверждающие, что изделия соответствуют отраслевым нормативам. <b>Вы можете быть спокойны в случае проверки.</b>
                </div>
            </div>
        </div>
    </div>
</section>