<section class="banner-home">
    <div class="bg-banner"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-home__left">
                    <h1 class="banner-home__title">Компания по производству Физиотерапевтические кабин и сопустсвующих товаров</h1>
                    <div class="banner-home__description">
                        <p class="banner-home__text" style="line-height: 31px; font-size: 26px;">Проектирование, изготовление и монтаж по индивидуальным размерам</p>
                        <p class="banner-home__text" style="color: #3091c5;  font-size: 18px; font-weight: 800;">При заказе конструкции — проект и схема монтажа БЕСПЛАТНО</p>
                        <div class="banner-home__text" style="line-height: 28px;">
                            <span style="color: rgb(0, 28, 61);">Позвоните телефону </span>
                            <a href="tel:+79953338201" style="color: rgb(0, 28, 61); text-decoration: none;"><strong>+7 995 333-82-01</strong></a>
                            <span style="color: rgb(0, 28, 61);">или оставьте заявку на сайте, чтобы получить бесплатную консультацию</span>
                        </div>
                    </div>
                    <div class="banner-home__button">
                        <a href="" class="button-site">Рассчитать стоимость</a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="banner-image">
                    <img src="@img/banner_cover.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>