<section class="section categories-home">
    <div class="container">
        <h2>Продукция</h2>
        <div class="row-grid">
            <div class="categories-home__item">
                <div class="categories-home__image">
                    <a href=""><img src="@img/category-1.png" alt=""></a>
                </div>
                <div class="categories-home__name">
                    <a href="">физиотерапевтические КАБИНЫ</a>
                </div>
                <div class="categories-home__button">
                    <a href="" class="button-site">Подробнее</a>
                </div>
            </div>
            <div class="categories-home__item">
                <div class="categories-home__image">
                    <a href=""><img src="@img/category-2.png" alt=""></a>
                </div>
                <div class="categories-home__name">
                    <a href="">медицинские ШТОРЫ</a>
                </div>
                <div class="categories-home__button">
                    <a href="" class="button-site">Подробнее</a>
                </div>
            </div>
            <div class="categories-home__item">
                <div class="categories-home__image">
                    <a href=""><img src="@img/category-3.png" alt=""></a>
                </div>
                <div class="categories-home__name">
                    <a href="">ЭЛЕКТРИЧЕСКИЕ ЩИТКИ</a>
                </div>
                <div class="categories-home__button">
                    <a href="" class="button-site">Подробнее</a>
                </div>
            </div>
            <div class="categories-home__item">
                <div class="categories-home__image">
                    <a href=""><img src="@img/category-4.png" alt=""></a>
                </div>
                <div class="categories-home__name">
                    <a href="">МЕДИЦИНСКАЯ МЕБЕЛЬ</a>
                </div>
                <div class="categories-home__button">
                    <a href="" class="button-site">Подробнее</a>
                </div>
            </div>
            <div class="categories-home__item">
                <div class="categories-home__image">
                    <a href=""><img src="@img/category-5.png" alt=""></a>
                </div>
                <div class="categories-home__name">
                    <a href="">Поручни, уголки, отбойники</a>
                </div>
                <div class="categories-home__button">
                    <a href="" class="button-site">Подробнее</a>
                </div>
            </div>
            <div class="categories-home__item">
                <div class="categories-home__image">
                    <a href=""><img src="@img/category-6.png" alt=""></a>
                </div>
                <div class="categories-home__name">
                    <a href="">Экраны на батареи</a>
                </div>
                <div class="categories-home__button">
                    <a href="" class="button-site">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>