<section class="section discount-form">
    <div class="container">
        <div class="section-form">
            <h2 class="form-title">Индивидуальные скидки <br/>для торговых компаний</h2>
            <p class="form-text">
                <span>Позвоните по телефону </span>
                <a href="tel:+79953338201">+7 995 333-82-01</a>
                <span> или оставьте заявку на сайте. </span><br>
                <span>Мы перезвоним вам, чтобы обсудить условия.</span>
            </p>

            <form action="" class="form">
                <div class="d-input-line">
                    <input type="text" class="form-control" placeholder="Ваше имя" aria-label="Ваше имя">
                    <input type="text" class="form-control" placeholder="+7(999)999-9999" aria-label="+7(999)999-9999">
                    <button type="submit" class="submit">Оставить заявку</button>
                </div>

                <div class="policy">
                    <span>Нажимая кнопку «Отправить» Вы даёте согласие на обработку персональных данных и ознакомились с</span>
                    <a href="/privacy-policy" rel="noopener noreferrer">политикой конфиденциальности</a>
                </div>
            </form>
        </div>
    </div>
</section>