<section class="section review-home">
    <div class="container">
        <h2>Отзывы</h2>

        <div class="row">
            <div class="col-md-6">
                <iframe class="iframe" src="https://www.youtube.com/embed/XEfDYMngJeE" title="Прекрасная успокаивающая музыка • Норвежская природа и музыка, исполняемая на скрипке, флейте" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe class="iframe" src="https://www.youtube.com/embed/1dy5wKtJxEY" title="Прекрасная успокаивающая музыка • Норвежская природа и музыка, исполняемая на скрипке, флейте" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>