<section class="tizers-home">
    <div class="container">
        <div class="tizers-home__grid">
            <div class="tizers-home__item">
                <div class="tizers-home__icon">
                    <img src="@svg/photo_1.svg" alt="">
                </div>
                <div class="tizers-home__text">
                    Изготавливаем кабины с учетом ваших пожеланий и требований
                </div>
            </div>
            <div class="tizers-home__item">
                <div class="tizers-home__icon">
                    <img src="@svg/photo_2.svg" alt="">
                </div>
                <div class="tizers-home__text">
                    Строго соблюдаем ОСТ 42-32-26-86 и СП 2.1.3678-20
                </div>
            </div>
            <div class="tizers-home__item">
                <div class="tizers-home__icon">
                    <img src="@svg/photo_3.svg" alt="">
                </div>
                <div class="tizers-home__text">
                    Участвуем в тендерах и аукционах, помогаем составить техзадание
                </div>
            </div>
            <div class="tizers-home__item">
                <div class="tizers-home__icon">
                    <img src="@svg/photo_4.svg" alt="">
                </div>
                <div class="tizers-home__text">
                    Предоставляем скидки торговым компаниям
                </div>
            </div>
            <div class="tizers-home__item">
                <div class="tizers-home__icon">
                    <img src="@svg/photo_5.svg" alt="">
                </div>
                <div class="tizers-home__text">
                    Доставляем изделия в любую точку России
                </div>
            </div>
        </div>
    </div>
</section>