<section class="section video-home">
    <div class="container">
        <h2>Наши кабинки на олимпиаде в сочи</h2>
        <p class="desc-title text-center">Один из самых знаковых для нас проектов — установка физиотерапевтических кабин на Олимпийских объектах в Красной Поляне.</p>

        <div class="row">
            <div class="col-md-12 text-center">
                <iframe class="iframe" width="100%" src="https://www.youtube.com/embed/5MCP8zCPY7E" title="Физиотерапевтические кабинки на Олимпийских объектах в Сочи" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>