<section class="sections" style="padding: 3rem 0;">
    <div class="container">
        <div class="row bg-blue">
            <div class="col-md-4 boxes box-white">
                <p>Вы можете выбрать шторы, подходящие под бюджет, требования и пожелания к внешнему виду помещения. В ассортименте — от обычных хлопковых штор, до специальных огнестойких и антибактериальных. Вся продукция отвечает требованиям отраслевых стандартов.</p>
            </div>
            <div class="col-md-8 boxes box-blue">
                <div class="icon-text">
                    <span class="circle-box"><img src="@img/icons/check-blue.svg" alt=""></span>
                    <span class="text-white">п. 3.3 - п. 3.4 ОСТ 42-21-16-86 ССБТ</span>
                </div>
                <p class="text-white">«Аппараты с дистанционным, в том числе и с универсальным, расположением конденсаторных пластин излучателей (аппараты „Экран-1“, „Экран-2“, „Импульс-3“, „Волна-2“, „Луч-58“ и др.) требуют специально выделенных, кабин, экранированных тканью с микропроводом (B-1 артикул 438 или аналогичной тканью), аппараты только с контактным воздействием не требуют экранирования.»</p>
            </div>
        </div>
    </div>
</section>