<section class="sections section-colors" style="padding: 3rem 0; background-color: #FFF;">
  <div class="container">
    <h2 class="text-center">Карта цветов</h2>
    <div class="grid-color-line d-grid">
      <div class="grid-color__item">
        <img src="@img/color-map-2.png" alt="">
        <p class="text-style-1">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>
        <p class="text-style-1" style="color: rgb(248, 158, 30);">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>

      </div>
      <div class="grid-color__item">
        <img src="@img/color-map-2.png" alt="">
        <p class="text-style-1">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>
        <p class="text-style-1" style="color: rgb(248, 158, 30);">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>

      </div>
      <div class="grid-color__item">
        <img src="@img/color-map-2.png" alt="">
        <p class="text-style-1">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>
        <p class="text-style-1" style="color: rgb(248, 158, 30);">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>

      </div>
      <div class="grid-color__item">
        <img src="@img/color-map-2.png" alt="">
        <p class="text-style-1">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>
        <p class="text-style-1" style="color: rgb(248, 158, 30);">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>

      </div>
      <div class="grid-color__item">
        <img src="@img/color-map-2.png" alt="">
        <p class="text-style-1">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>
        <p class="text-style-1" style="color: rgb(248, 158, 30);">
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3001 - 250</span>
          <span class="break-white">GD 3009 - 200 (без сетки)</span>
        </p>

      </div>

    </div>
    <p class="notes">Всего на сумму: 14 430,00. НДС не облагается в связи с применением УСН</p>

  </div>
</section>