<section class="sections section-colors" style="padding: 3rem 0; background-color: #FFF;">
  <div class="container">
    <h2 class="text-center">Карта цветов</h2>
    <div class="grid-color d-grid">
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
      <div class="grid-color__item">
        <img src="@img/color-01.png" alt="">
        <p class="text-style-1 text-center">Цвет #01</p>
      </div>
    </div>
  </div>
</section>