<section class="sections section-examples" style="padding: 3rem 0; background-color: #f8fafc;">
  <div class="container">
    <h2 class="text-center">Примеры работы</h2>
    <div class="row">
      <div class="col-md-4">
        <iframe class="iframe" style="min-height: 215px;" src="https://www.youtube.com/embed/XEfDYMngJeE" title="Прекрасная успокаивающая музыка • Норвежская природа и музыка, исполняемая на скрипке, флейте" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <iframe class="iframe" style="min-height: 215px;" src="https://www.youtube.com/embed/1dy5wKtJxEY" title="Прекрасная успокаивающая музыка • Норвежская природа и музыка, исполняемая на скрипке, флейте" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <iframe class="iframe" style="min-height: 215px;" src="https://www.youtube.com/embed/1dy5wKtJxEY" title="Прекрасная успокаивающая музыка • Норвежская природа и музыка, исполняемая на скрипке, флейте" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row row-gap-1" style="margin: 1.5rem 0 0">
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>
      <div class="col-md-3">
        <a href="@img/catalog/type1-0.jpg" class="bg-img-full" style="background-image: url(@img/catalog/type1-0.jpg)"></a>
      </div>

    </div>
  </div>
</section>