<section class="sections" style="padding: 3rem 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Рекомендация по уходу</h2>
        <p class="text-style-1">Следуйте рекомендация, чтобы увеличить срок службы штор</p>
        <ul class="reset-style" style="margin-top: 1rem">
          <li class="icon-left">
            <img src="@img/icon-list-1.png" class="icon-img" alt="">
            <p class="text text-style-1">Стирка при температуре 40°С</p>
          </li>
          <li class="icon-left">
            <img src="@img/icon-list-1.png" class="icon-img" alt="">
            <p class="text text-style-1">Стирка при температуре 40°С</p>
          </li>
          <li class="icon-left">
            <img src="@img/icon-list-1.png" class="icon-img" alt="">
            <p class="text text-style-1">Стирка при температуре 40°С</p>
          </li>
          <li class="icon-left">
            <img src="@img/icon-list-1.png" class="icon-img" alt="">
            <p class="text text-style-1">Стирка при температуре 40°С</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="bg-full rad-20" style="background-image: url(@img/catalog/type1-0.jpg)"></div>
      </div>
    </div>
  </div>
</section>