<section class="sections" style="padding: 3rem 0;">
    <div class="container">
        <h2 class="text-center" style="margin-bottom: 3rem;">Характеристики</h2>
        <div class="row row-gap-1">
            <div class="col-md-4">
                <div class="box-outline">
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="body-text">
                        <p class="type-text-title-4">После стирки шторы не нужно гладить. Они сами разглаживаются, если их немного отжать и повесить на вешалку для сушки. После стирки не деформируются и не садятся.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-outline">
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="body-text">
                        <p class="type-text-title-4">После стирки шторы не нужно гладить. Они сами разглаживаются, если их немного отжать и повесить на вешалку для сушки. После стирки не деформируются и не садятся.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-outline">
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="body-text">
                        <p class="type-text-title-4">После стирки шторы не нужно гладить. Они сами разглаживаются, если их немного отжать и повесить на вешалку для сушки. После стирки не деформируются и не садятся.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-outline">
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="body-text">
                        <p class="type-text-title-4">После стирки шторы не нужно гладить. Они сами разглаживаются, если их немного отжать и повесить на вешалку для сушки. После стирки не деформируются и не садятся.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-outline">
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="body-text">
                        <p class="type-text-title-4">После стирки шторы не нужно гладить. Они сами разглаживаются, если их немного отжать и повесить на вешалку для сушки. После стирки не деформируются и не садятся.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>