<section class="sections">
    <div class="container">
        <div class="box-outline pad-0">
            <div class="d-grid sized-box" style="grid-template-columns: 1fr 2fr;">
                <div class="grid-item left-devider">
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                    <div class="icon-left">
                        <img src="@img/icons/wash.svg" alt="">
                        <div class="type-text-title-3">Стойкость при стирке</div>
                    </div>
                </div>
                <div class="grid-item">
                    <h2 class="text-center title-2">Варианты крепления штор:</h2>
                    <div class="row" style="margin-top: 3rem">
                        <div class="col-md-4">
                            <div class="box-circle">
                                <img src="@img/image-circle.png" alt="">
                                <p class="text-style-1">лямки</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-circle">
                                <img src="@img/image-circle.png" alt="">
                                <p class="text-style-1">лямки</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-circle">
                                <img src="@img/image-circle.png" alt="">
                                <p class="text-style-1">лямки</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>