<link rel="stylesheet" href="../../assets/scss/_typography.scss">
<section class="sections" style="padding: 3rem 0;">
  <div class="container">
    <div class="block-switch left-switch white-bg">
      <div class="item switch">
        <p class="type-text-title-4">
          Вы можете выбрать шторы, подходящие под бюджет, требования и пожелания к внешнему виду помещения. В ассортименте — от обычных хлопковых штор, до специальных огнестойких и антибактериальных. Вся продукция отвечает требованиям отраслевых стандартов.
        </p>
      </div>
      <div class="item content">
          <div class="icon-left">
            <img src="@img/mail_white.svg" alt="">
            <div class="type-text-title-3">Стойкость при стирке</div>
          </div>
          <p class="text-style-1">
            «Аппараты с дистанционным, в том числе и с универсальным, расположением конденсаторных пластин излучателей (аппараты „Экран-1“, „Экран-2“, „Импульс-3“, „Волна-2“, „Луч-58“ и др.) требуют специально выделенных, кабин, экранированных тканью с микропроводом (B-1 артикул 438 или аналогичной тканью), аппараты только с контактным воздействием не требуют экранирования.»
          </p>
      </div>
    </div>
  </div>
</section>