<section class="sections about-section mb-6">
  <div class="container">
    <h1>О Компании</h1>
    <p class="desc-title text-center">
      Компания «Эф-Кабинки» занимается проектированием, производством и монтажом физиотерапевтических кабин с 2012 года. За это время мы наработали огромный опыт и стали безусловным лидером в своей области.
    </p>

    <div class="box-outline">
      <h2 class="title-num">Знаем наших клиентов</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="p-lite">Мы взяли на себя обязательство стать надежным партнером для любой медицинской организации, которой требуется профессиональное оснащение кабинета физиотерапии.</p>
          <p class="p-lite">Наши кабинки поставляются со всеми необходимыми документами и проходят любые проверки с первого раза.</p>
          <div class="important-box">
            <p class="p-bold white-text upper">Внимание, остерегайтесь подделок</p>
            <p class="p-lite white-text">Мы можем отвечать только за кабинки нашего производства.</p>
          </div>
        </div>
        <div class="col-md-6">
          <p class="p-bold">Для нас важны все аспекты создания кабин.</p>

          <div class="icon-text">
            <div class="icon-text__icon">
              <img src="@img/bat-circle.svg" alt="">
            </div>
            <div class="icon-text__text">
              Удобство и комфорт медицинского персонала и пациентов.
            </div>
          </div>
          <div class="icon-text">
            <div class="icon-text__icon">
              <img src="@img/seif.svg" alt="">
            </div>
            <div class="icon-text__text">
              Надежность и долговечность конструкции.
            </div>
          </div>
          <div class="icon-text">
            <div class="icon-text__icon">
              <img src="@img/palete.svg" alt="">
            </div>
            <div class="icon-text__text">
              Эстетика и возможность выбирать цветовые решения под стиль помещения.
            </div>
          </div>
          <div class="icon-text">
            <div class="icon-text__icon">
              <img src="@img/cash.svg" alt="">
            </div>
            <div class="icon-text__text">
              Профессионализм на всех этапах — от первого обращения до окончания монтажа.
            </div>
          </div>
          <div class="icon-text">
            <div class="icon-text__icon">
              <img src="@img/hto_icon_1.svg" alt="">
            </div>
            <div class="icon-text__text">
              Доскональное соблюдение требований ОСТ 42-32-26-86 и СП 2.1.3678-20.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>