<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-item">
      <div class="card-item__image">
        <a href="" class="hover-image">
          <img src="@img/type/card-1.png" alt="" class="hover-image__original">
          <img src="@img/type/card-2.png" alt="" class="hover-image__hovered">
        </a>
      </div>
      <div class="card-pad-2">
        <div class="card-item__price">2 100 руб.</div>
        <a class="card-item__name">Медицинские шторы Green Days</a>
        <div class="card-item__note">99% текстурированный полиэфир, 1% антистатическая нить</div>
        <div class="card-item__btns">
          @@include('button.htm', {"text" : "Заказать", "classes" : "btn-catalog"})
        </div>
      </div>
    </div>
  </div>

</div>