<section class="sections mb-6">
  <div class="container">
    <div class="box-outline">
      <h2 class="title-num">С нами удобно</h2>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="box-outline">
            <div class="icon-text w120">
              <div class="icon-text__icon">
                <img src="@img/bat-circle.svg" alt="">
              </div>
              <div class="icon-text__text">
                Работаем с государственными и частными компаниями.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="box-outline">
            <div class="icon-text w120">
              <div class="icon-text__icon">
                <img src="@img/bat-circle.svg" alt="">
              </div>
              <div class="icon-text__text">
                Помогаем составить<br/>техническое задание.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="box-outline">
            <div class="icon-text w120">
              <div class="icon-text__icon">
                <img src="@img/bat-circle.svg" alt="">
              </div>
              <div class="icon-text__text">
                Зарегистрированы на всех государственных торговых площадках, участвуем в аукционах и электронных торгах.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="box-outline">
            <div class="icon-text w120">
              <div class="icon-text__icon">
                <img src="@img/bat-circle.svg" alt="">
              </div>
              <div class="icon-text__text">
                Предоставляем особые условия торговым компаниям.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>