<div class="row">
    <div class="col-md-6">
        <div class="slider-product-detail-wrapper">
            <div class="slider-detail-top">
                <a href="" class="detail-img-box" data-set-index="0">
                    <img src="@img/catalog/type1-0.jpg" />
                </a>
            </div>
            <div class="slider-detail-bottom">
                <div class="swiper swiper-arrow slider-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-item active">
                                <a href="" data-src="@img/catalog/type1-0.jpg" class="swiper-bg" style="background-image: url(@img/catalog/type1-0.jpg);"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-item">
                                <a href="" data-src="@img/catalog/type1-1.png" class="swiper-bg" style="background-image: url(@img/catalog/type1-1.png);"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-item">
                                <a href="" data-src="@img/catalog/type1-0.jpg" class="swiper-bg" style="background-image: url(@img/catalog/type1-0.jpg);"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-item">
                                <a href="" data-src="@img/catalog/type1-1.png" class="swiper-bg" style="background-image: url(@img/catalog/type1-1.png);"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-btn-arrow swiper-button-next"></div>
                    <div class="swiper-btn-arrow swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p class="text-style-1 product-title">Хлопковые шторы</p>
        <p class="product-price">2 125 р.</p>
        <div class="btns-product">
            <a href="" class="button-site  btn-catalog">Заказать</a>
        </div>
        <div style="margin: 1rem 0;">
            <p class="title-2">Характеристики</p>
            <p class="text-style-1"><b>Состав:</b> 100% хлопок.</p>
            <p class="text-style-1"><b>Размер:</b> 1440×1900h мм, высота может быть любой.</p>
            <p class="text-style-1"><b>Плотность:</b> 250 г/м2.</p>
            <p class="text-style-1"><b>Усадка:</b> не более 3%.</p>
        </div>
        <div style="margin: 1rem 0;">
            <p class="title-2">Достоинства</p>
            <ul>
                <li><p class="text-style-1">Большой выбор расцветок позволяет подобрать оптимальный вариант для вашего интерьера.</p></li>
                <li><p class="text-style-1">Большой выбор расцветок позволяет подобрать оптимальный вариант для вашего интерьера.</p></li>
                <li><p class="text-style-1">Большой выбор расцветок позволяет подобрать оптимальный вариант для вашего интерьера.</p></li>
                <li><p class="text-style-1">Большой выбор расцветок позволяет подобрать оптимальный вариант для вашего интерьера.</p></li>
                <li><p class="text-style-1">Большой выбор расцветок позволяет подобрать оптимальный вариант для вашего интерьера.</p></li>
            </ul>
        </div>
    </div>
</div>