<section class="sections" style="padding: 3rem 0;">
  <div class="container">
    <h2 class="text-center">Каталог</h2>
    <div class="filter-nav-wrapper">
      <ul class="list-filter">
        <li class="filter-nav active" data-tab-index="0">Для кабинетов электролечения</li>
        <li class="filter-nav" data-tab-index="1">Для кабинетов грязелечения</li>
        <li class="filter-nav" data-tab-index="2">Для кабинетов массажа и ЛФК</li>
        <li class="filter-nav" data-tab-index="3">Шторы медицинские (с РУ)</li>
        <li class="filter-nav" data-tab-index="4">Шторы экранирующие</li>
        <li class="filter-nav" data-tab-index="5">Шторы огнестойкие</li>
        <li class="filter-nav" data-tab-index="6">Шторы антибактериальные</li>
        <li class="filter-nav" data-tab-index="7">Шторы антибактериальные противовирусные</li>
      </ul>

      <div class="content-filter">
        <div class="filter-item active" data-tab-index="0">
          <div class="grid-color-line d-grid norad">
            <div class="grid-color__item">
              <img src="@img/color-map-2.png" alt="">
              <p class="text-style-1">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>
              <p class="text-style-1" style="color: rgb(248, 158, 30);">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>

            </div>
            <div class="grid-color__item">
              <img src="@img/color-map-2.png" alt="">
              <p class="text-style-1">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>
              <p class="text-style-1" style="color: rgb(248, 158, 30);">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>

            </div>
            <div class="grid-color__item">
              <img src="@img/color-map-2.png" alt="">
              <p class="text-style-1">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>
              <p class="text-style-1" style="color: rgb(248, 158, 30);">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>

            </div>
            <div class="grid-color__item">
              <img src="@img/color-map-2.png" alt="">
              <p class="text-style-1">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>
              <p class="text-style-1" style="color: rgb(248, 158, 30);">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>

            </div>
            <div class="grid-color__item">
              <img src="@img/color-map-2.png" alt="">
              <p class="text-style-1">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>
              <p class="text-style-1" style="color: rgb(248, 158, 30);">
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3001 - 250</span>
                <span class="break-white">GD 3009 - 200 (без сетки)</span>
              </p>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>