<section class="sections section-num">
  <div class="container">
    <h2 class="title-num" data-num="04">Доставка</h2>
    <div class="box-outline">
      <div class="row">
        <div class="col-md-6">
          <p class="p-lite">Если монтаж выполняет наша компания — все вопросы с доставкой мы берем на себя.</p>
          <p class="p-lite"><b>По Санкт-Петербургу и Ленинградской области</b> Доставляем за 1-2 рабочих дня с момента изготовления.</p>
          <p class="p-lite">
            <b>По России</b><br/>
            Отправляем транспортными компаниями, которые есть в нашем и вашем городе. Конструкция будет надежно упакована и укомплектована инструкцией по сборке. Срок доставки зависит от расстояния и условий перевозчика.
          </p>
          <p class="p-lite">Вместе с кабинками вы получите техпаспорт изделия, сертификаты соответствия и письмо из Росздравнадзора. Этих документов будет достаточно, чтобы в случае проверки у комиссии не было вопросов к конструкции и материалам.</p>
        </div>
      </div>
      <div class="bg-traffic" style="background-image: url(@img/how-to-order/traffic.png)"></div>
    </div>
  </div>
</section>