<section class="section about-home">
  <div class="container">
    <h2 class="text-center">ВАРИАНТЫ СТАНДАРТНОЙ ПЕРФОРАЦИИ</h2>
    <div class="d-grid grid-image" style="grid-template-columns: repeat(auto-fit, 260px);">
        <div class="grid-item">
          <img src="https://thumb.tildacdn.com/tild3163-6239-4432-a634-663961313732/-/resize/312x/-/format/webp/01-min.png" alt="">
          <p class="type-text-title-2 text-center" style="padding-top: 1rem;">Узор №1</p>
        </div>
    </div>
  </div>
</section>