<section class="section about-home">
    <div class="container">
        <div class="box-outline">
            <h2 class="m0">Доставка</h2>
        </div>
        <div class="accardion-wrapper" style="padding: 3rem 0; max-width: 1080px; margin: 0 auto;">
            <div class="accardion-item">
                <div class="accardion-item__head">
                    Как и где получить заказ?
                    <span class="accardion-icon">
                        <svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="#222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>
                    </span>
                </div>
                <div class="accardion-item__body">
                    <p class="p-lite">Мы взяли на себя обязательство стать надежным партнером для любой медицинской организации, которой требуется профессиональное оснащение кабинета физиотерапии.</p>
                </div>
            </div>
        </div>
    </div>
</section>