<section class="sections" style="padding: 3rem 0;">
  <div class="container">
    <h1 class="text-center">Нормативы</h1>
    <p class="desc-title">Лечебные физиотерапевтические процедуры можно проводить только в отдельных специально оборудованных кабинах, к которым предъявляются строгие и довольно специфические требования.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="box-outline full-h d-grid" style="grid-template-rows: 55px 1fr 55px;">
          <div class="icon-left">
            <img src="@img/seif.svg" alt="">
            <p class="title-3">Отраслевой стандарт ОСТ 42-21-16-86</p>
          </div>
          <div>
            <p class="text-style-1">«ССБТ. Отделения, кабинеты физиотерапии, общие требования безопасности» (пп. 3.4, 3.7 и 3.8)</p>
          </div>
          <a href="" class="link-style-more" style="display: block; margin-top: 1rem;">Подробнее >></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-outline full-h d-grid" style="grid-template-rows: 55px 1fr 55px;">
          <div class="icon-left">
            <img src="@img/seif.svg" alt="">
            <p class="title-3">Отраслевой стандарт ОСТ 42-21-16-86</p>
          </div>
          <div>
            <p class="text-style-1">«Санитарно-эпидемиологические требования к эксплуатации помещений, зданий, сооружений, оборудования и транспорта, а также условиям деятельности хозяйствующих субъектов, осуществляющих продажу товаров, выполнение работ или оказание услуг» (действует вместо СанПиН 2.1.3.2630–10)</p>
          </div>
          <a href="" class="link-style-more" style="display: block; margin-top: 1rem;">Подробнее >></a>
        </div>
      </div>
    </div>
  </div>
</section>
