<section class="sections white-bg section-slider pb-5">
  <div class="container">
    <h2 class="text-center">Сопроводительные документы</h2>
    <div class="note-mobile">
      Листайте влево, чтобы просмотреть
    </div>
    <div class="doc-grid-slide">
      <div class="doc-grid__item">
        <a href="@img/type/sert-0.jpg"><img src="@img/type/sert-0.jpg" alt=""></a>
      </div>
      <div class="doc-grid__item">
        <a href="@img/type/sert-1.jpg"><img src="@img/type/sert-1.jpg" alt=""></a>
      </div>
      <div class="doc-grid__item">
        <a href="@img/type/sert-2.jpg"><img src="@img/type/sert-2.jpg" alt=""></a>
      </div>
      <div class="doc-grid__item">
        <a href="@img/type/sert-3.jpg"><img src="@img/type/sert-3.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>