<section class="sections section-num">
  <div class="container">
    <h2 class="title-num" data-num="05">Монтаж</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="box-outline">
          @@include('serviceItem.htm', {
          "image" : "@img/service-1.png",
          "num" : "01",
          "name" : "Установка электрических щитков",
          "description" : "У наших электриков третий уровень доступа на электробезопасность, поэтому мы можем работать с электрооборудованием до 1000 В",
          "showOrder" : "N"
          })
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-outline">
          @@include('serviceItem.htm', {
          "image" : "@img/service-1.png",
          "num" : "01",
          "name" : "Установка электрических щитков",
          "description" : "У наших электриков третий уровень доступа на электробезопасность, поэтому мы можем работать с электрооборудованием до 1000 В",
          "showOrder" : "N"
          })
        </div>
      </div>
    </div>
  </div>
</section>