<section class="sections quiz-section">
    <div class="container">
        <h2 class="text-center">Закажите расчет стоимости кабин<br/>и получите дизайн-проект в подарок</h2>
        <p class="desc-title text-center">по размерам вашего помещения</p>

        <div class="quiz-wrapper quizJS">
            <div class="quiz__header">
                <svg role="presentation" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"> <rect x="27.5" y="4.1" class="st61" width="56.5" height="73.5"></rect> <line class="st61" x1="41.5" y1="22.1" x2="70.6" y2="22.1"></line> <line class="st61" x1="41.5" y1="38.8" x2="70.6" y2="38.8"></line> <line class="st61" x1="41.5" y1="55.5" x2="70.6" y2="55.5"></line> <polyline class="st61" points="66.4,77.6 66.4,95.6 9.8,95.6 9.8,22.1 27.5,22.1 "></polyline> </svg>
                <span class="quiz__title">Ответьте на 5 вопросов и получите предварительный расчет стоимости</span>
                <span class="quiz__step">1/4</span>
            </div>
            <div class="quiz__body">
                <form action="" method="post">
                    <div class="step-form active">
                        <p class="step-form__name">Какое количество кабин вам необходимо?</p>
                        <div class="step-form__detail">
                            <div class="form-group">
                                <label class="label-radio">
                                    <input type="radio" name="radio" value="1" checked>
                                    <span>Radio button 1</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-radio">
                                    <input type="radio" name="radio" value="2">
                                    <span>Radio button 2</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-radio">
                                    <input type="radio" name="radio" value="3">
                                    <span>Radio button 3</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-radio">
                                    <input type="radio" name="radio" value="4">
                                    <span>Radio button 4</span>
                                </label>
                            </div>
                        </div>
                        <div class="quiz__footer">
                            <button type="button" class="btn-quiz quiz-back"  disabled>Назад</button>
                            <button type="button" class="btn-quiz quiz-next" data-type="next">Далее</button>
                        </div>
                    </div>
                    <div class="step-form">
                        <p class="step-form__name">Укажите размеры вашего помещения, м</p>
                        <div class="step-form__detail">
                            <div class="form-group">
                                <input type="text" class="input-transparent" placeholder="Ширина х Длина х Высота">
                            </div>
                        </div>
                        <div class="quiz__footer">
                            <button type="button" class="btn-quiz quiz-back" data-type="prev">Назад</button>
                            <button type="button" class="btn-quiz quiz-next" data-type="next">Далее</button>
                        </div>
                    </div>
                    <div class="step-form">
                        <p class="step-form__name">Для каких процедур будут использоваться физиотерапевтические кабинеты?</p>
                        <div class="step-form__detail">
                            <div class="d-grid grid-check">

                                <div class="form-group">
                                    <label class="label-check-image">
                                        <input type="checkbox" name="radio" value="1" checked>
                                        <div class="image-checkbox">
                                            <img src="@img/image-checkbox.png" alt="">
                                            <span>Электролечение</span>
                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="quiz__footer">
                            <button type="button" class="btn-quiz quiz-back"  data-type="prev">Назад</button>
                            <button type="button" class="btn-quiz" data-type="next">Последний вопрос</button>
                        </div>
                    </div>

                    <div class="step-form">
                        <p class="step-form__name">Какое количество кабин вам необходимо?</p>
                        <div class="step-form__detail">
                            <div class="form-group">
                                <label class="label-checkbox">
                                    <input type="checkbox" name="radio" value="1" checked>
                                    <span>Radio button 1</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-checkbox">
                                    <input type="checkbox" name="radio" value="2">
                                    <span>Radio button 2</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-checkbox">
                                    <input type="checkbox" name="radio" value="3">
                                    <span>Radio button 3</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-checkbox">
                                    <input type="checkbox" name="radio" value="4">
                                    <span>Radio button 4</span>
                                </label>
                            </div>
                        </div>
                        <div class="quiz__footer">
                            <button type="button" class="btn-quiz quiz-back"  data-type="prev">Назад</button>
                            <button type="button"  class="btn-quiz" data-type="next">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>