<section class="sections section-html">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 style="text-align: left;">Документы и гарантии</h2>
        <p class="b-text">Кабины поставляются с полным комплектом сопроводительных документов, необходимых для прохождения лицензирования физиотерапевтического кабинета и регулярных проверок.</p>
      </div>
      <div class="col-md-4">
        <div class="icon-text w120 ">
          <div class="icon-text__icon">
            <i class="icon-item i-check"></i>
          </div>
          <div class="icon-text__text">
            <p class="title">2 года</p>
            <p class="b-text">Гарантия на изделие</p>
          </div>
        </div>
        <div class="icon-text w120 ">
          <div class="icon-text__icon">
            <i class="icon-item i-ten"></i>
          </div>
          <div class="icon-text__text">
            <p class="title">10 лет</p>
            <p class="b-text">Срок эксплуатации</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
