<section class="sections section-catalog">
    <div class="container">
        <h2>Типы Кабинок</h2>
        <div class="row">
            @@include('catalogType.htm', {
            "items" : [
            {
            "id" : 1,
            "name" : "ТИП 1",
            "description" : "Каркас + Штора",
            },
            {
            "id" : 2,
            "name" : "ТИП 2",
            "description" : "Каркас + Стенки из ЛДСП + Штора на входе",
            },
            {
            "id" : 3,
            "name" : "ТИП 3",
            "description" : "Каркас + Стенки из ЛДСП + Панель из ЛДСП на входе + Штора",
            },
            {
            "id" : 4,
            "name" : "ТИП 4",
            "description" : "Каркас + Стенки из ЛДСП + Распашная дверь",
            },
            {
            "id" : 5,
            "name" : "ТИП 5",
            "description" : "Стенки из стекла + Стеклянная дверь <span>(эксклюзив!)</span>",
            },
            {
            "id" : 6,
            "name" : "ТИП 6",
            "description" : "Каркас из алюминиевого профиля",
            },
            {
            "id" : 7,
            "name" : "ТИП 7",
            "description" : "Стенки из пластика и стекла",
            },
            ]})
        </div>
    </div>
</section>
