<section class="services section">
  <div class="container">
    <h2 style="margin-bottom: 1rem;">Материалы</h2>
    <h3 style="margin-bottom: 2rem;">Используем разрешенные нормативными документами материалы</h3>
    <div class="d-grid auto-grid">
      @@include('card.htm', {
      "image" : "@img/service-1.png",
      "name" : "Установка электрических щитков",
      "description" : "У наших электриков третий уровень доступа на электробезопасность, поэтому мы можем работать с электрооборудованием до 1000 В",
      })
      @@include('card.htm', {
      "image" : "@img/service-1.png",
      "name" : "Обработка штор огнестойким составом",
      "description" : "Для соблюдения правил пожарной безопасности в физиотерапевтических отделениях (ППБО 07-91) и прохождении ежегодной проверки.",
      })
      @@include('card.htm', {
      "image" : "@img/service-1.png",
      "name" : "Обработка штор огнестойким составом",
      "description" : "Для соблюдения правил пожарной безопасности в физиотерапевтических отделениях (ППБО 07-91) и прохождении ежегодной проверки.",
      })

    </div>
  </div>
</section>