<section class="sections mb-6">
  <div class="container">
    <div class="box-outline">
      <h2 class="title-num">Собственная технология</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="p-lite">Наши первые кабины в 2012 году были самыми обычными. Мы использовали стандартные элементы системы Joker и множество комплектующих стороннего производства. С тех пор технология существенно улучшилась.</p>
          <p class="p-lite">Весь цикл производства от проектирования до установки мы выполняем самостоятельно. Это существенно сокращает сроки изготовления и позволяет контролировать качество на всех этапах.</p>
          <p class="p-lite">Мы разработали уникальную систему крепления ЛДСП панелей к каркасу кабин, что повысило качество и надежность всей конструкции.</p>
          <p class="p-lite">Несмотря на то, что уже сейчас качество наших изделий на высоком уровне, мы продолжаем разрабатывать и внедрять новые модели физиотерапевтических кабин, используя современные материалы и конструктивные решения.</p>
        </div>
        <div class="col-md-6">
          @@include('swiper-arrow.htm', {
          "classes" : "about-slider",
          "slideItem" : [
          { "img" : "@img/about/1.png"},
          { "img" : "@img/about/2.png"},
          { "img" : "@img/about/3.png"},
          { "img" : "@img/about/4.png"},
          ]})
        </div>
      </div>
    </div>
  </div>
</section>