<div class="carousel fancy-slider">
    <div class="carousel__slide">
        <a href="@img/about/1.png"><img src="@img/about/1.png" alt=""></a>
    </div>
    <div class="carousel__slide">
        <a href="@img/about/2.png"><img src="@img/about/2.png" alt=""></a>
    </div>
    <div class="carousel__slide">
        <a href="@img/about/3.png"><img src="@img/about/3.png" alt=""></a>
    </div>
    <div class="carousel__slide">
        <a href="@img/about/4.png"><img src="@img/about/4.png" alt=""></a>
    </div>
</div>