<div class="swiper swiper-arrow @@classes">
    <div class="swiper-wrapper">
        @@for (var i = 0; i < slideItem.length; i++) {
            <div class="swiper-slide">
                <div class="slide-item">
                    <a href="`+slideItem[i].img+`" class="swiper-bg" style="background-image: url(`+slideItem[i].img+`);"></a>
                </div>
            </div>
        }
    </div>
    <div class="swiper-btn-arrow swiper-button-next"></div>
    <div class="swiper-btn-arrow swiper-button-prev"></div>
</div>