<section class="tizers-home" style="position: relative; z-index: 1;">
  <div class="container">
    <div class="tizers-home__grid">
      @@include('tizers.htm', {
      "image" : "@svg/photo_1.svg",
      "description" : "Изготавливаем кабины с учетом ваших пожеланий и требований"
      })
      @@include('tizers.htm', {
      "image" : "@svg/photo_2.svg",
      "description" : "Строго соблюдаем ОСТ 42-32-26-86 и СП 2.1.3678-20"
      })
      @@include('tizers.htm', {
      "image" : "@svg/photo_3.svg",
      "description" : "Участвуем в тендерах и аукционах, помогаем составить техзадание"
      })
      @@include('tizers.htm', {
      "image" : "@svg/photo_4.svg",
      "description" : "Предоставляем скидки торговым компаниям"
      })
    </div>
  </div>
</section>