<section class="sections mb-6">
  <div class="container">
    <div class="box-outline">
      <div class="row">
        <div class="col-md-6">
          <h2 class="title-num">Работаем по всей России</h2>
          <p class="p-lite">Производственная база располагается в Санкт-Петербурге, а география поставок охватывает практически всю Россию. Наши кабинки можно встретить на олимпийских объектах в Красной Поляне, в Коммунарке, в Кызыле, в Лабытнанги, в Архангельске и во многих других городах.</p>
          <p class="p-lite p-bold">
            С нами работают крупнейшие отечественные лечебные учреждения, институты и компании.
          </p>

          <ul>
            <li>Первый Санкт-Петербургский государственный медицинский университет им. академика И. П. Павлова.</li>
            <li>МСЧ МВД России по Удмуртской Республике.</li>
            <li>Городской противотуберкулезный диспансер в Санкт-Петербурге.</li>
            <li>Медицинские центры ПАО «Газпром».</li>
          </ul>

          <p class="p-lite">Именно нам доверили обустройство физиотерапевтических кабинетов олимпийских объектов в Сочи в преддверии зимних игр 2014 года.</p>
        </div>
        <div class="col-md-6">
          <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3Ab80226cf696d76eca44b9353a86499c159717d0661b5d63ff7a2c5f01a4ab518" frameborder="0" allowfullscreen="true" width="477px" height="420px" style="display: block;"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>