<section class="sections table-section">
    <div class="container">
        <h2 class="text-center mt-5 mb-4">Примерный расчет стоимости для 1 кабины</h2>
        <table class="table theme-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Каркас. Изготавливается из металлических никелированных<br/> труб диаметром 25 мм с толщиной стенок 1 мм</td>
                    <td>1 комплект</td>
                    <td>4 430,00</td>
                    <td>4 430,00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Каркас. Изготавливается из металлических никелированных<br/> труб диаметром 25 мм с толщиной стенок 1 мм</td>
                    <td>1 комплект</td>
                    <td>4 430,00</td>
                    <td>4 430,00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Каркас. Изготавливается из металлических никелированных<br/> труб диаметром 25 мм с толщиной стенок 1 мм</td>
                    <td>1 комплект</td>
                    <td>4 430,00</td>
                    <td>4 430,00</td>
                </tr>
            </tbody>
        </table>
        <p class="notes text-center">Всего на сумму: 14 430,00. НДС не облагается в связи с применением УСН</p>
    </div>
</section>