<section class="banner-home">
    <div class="bg-banner"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-home__left">
                    <h2 class="banner-home__subtitle" style="padding-top: 2rem;">Проектирование, производство и монтаж</h2>
                    <h1 class="banner-home__title">Кабины Физиотерапевтические</h1>
                    <div class="banner-home__description">
                        <ul class="list-banner-1">
                            <li>
                                <i class="icon-item i-safe"></i>
                                <span>Срок эксплуатации — 10 лет</span>
                            </li>
                            <li>
                                <i class="icon-item i-check"></i>
                                <span>Гарантия — 2 года</span>
                            </li>
                            <li>
                                <i class="icon-item i-truck"></i>
                                <span>Доставка и установка по всей России</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="banner-image">
                    <img src="@img/banners/img-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>